<header class="header">
    <a href="/minefort-server-list/"><span style="background-image: url(../media/Logo_glow.png);background-size: 64px 64px;">
        <img src="media/Logo.png" alt="Minefort Logo" width="48px" height="48px" style="margin: 8px; image-rendering:auto;">
    </span></a>
    <a href="/minefort-server-list/about/" style="color: white" rel="canonical">About</a>
    <a style="color: white" rel="canonical" href="/minefort-server-list/stats/">Stats</a>
    <h1 class="mc-color-7 mc-strikethrough" title="Coming soon">Login</h1>
</header>